* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
#header {
    background: #2435A1;
    padding: 30px 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-a  select {
    border: none;
    background: 0;
    color: var(--light-text-color, #eae9e9);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
margin-left: 130 ;
outline: none;
}
.header-a a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-left: 130px;
}

/* SECTION-SCHOOL */
#hero {
    background: url(./img/bacround.png) no-repeat bottom/cover;
    max-height: 80vh;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text h1 {
    color: var(--light-text-color, #ffffff);
font-family: Montserrat;
font-size: 48px;
font-weight: 700;
letter-spacing: 0.2px;
    }
.hero-text p {
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.2px;
margin: 10px;
}
.icon-cir {
    width: 70px;
height: 70px;
border-radius: 51px;
border: 1px solid #FFF;
position: relative;
}
.icon-txt h4 {
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.2px;
}
.icon-txt {
    display: flex;
    align-content: center;
    gap: 13pxp-;
    position: relative;
    top: 20px;
    left: 40px;
}
.icon-txt {
    position: relative;
}

/* SECTION-SCHOOL   */
 .school {
    width: 938px;
    height:8px;
    stroke-width: 5px;
stroke: #15122b;

 }